<!doctype html>
<title>{% block title %}{% endblock %} - Jlaskr</title>
<link rel="stylesheet" type="text/css" href="https://codepen.io/tall15421542/pen/NVyawK.css">
<nav>
  <h1><a href="/">Jlaskr</a></h1>
  <ul>
    {% if hasUser %}
      <li><span>{{ user.get('username') }}</span>
      <li><a href="/logout" >Log Out</a>
    {% else %}
      <li><a href="/register">Register</a>
      <li><a href="/login">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
